img{
    background-color:#0b487c;
    width: 100%;
    height:15%;
}
.topnav {
    background-color:white;
    overflow: hidden;
    width: 89%;
    height: 7%;
    margin-left:auto;
  }
  .topnav a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color:rgb(56, 54, 54);
    color:white;
  }
.topnav a.active {
    background-color:rgb(46, 43, 43);
    color: white;
  }
.topnav .icon {
    display: none;
  }
marquee{
      
      color:white
  }
  
tr{
      background-color:rgba(0, 0, 0, 0.575);
      height: 30px;
      width: 100%;
     
  }
    
h3{
    color: #d1ab66;
    text-align: center;
    text-transform:inherit;
    padding-top: 10px;
    

}

table{
    width: 100%;
    border-collapse: collapse;
}
    
td{
    width: 30%;
}

.man{
    width:60% ;
    text-transform: uppercase;
    height: 10px;
}
.mySlides{
    height:64%;
    width:100%
}    
    
    
    
